.textarea-form-simple {
    padding: 5px;

    font-size: 20px;
    font-family: "Lobster";
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;

    resize: none;
}