.document-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;

    &::before {
        content: "";
        border: 0.5px solid black;
        border-image: linear-gradient(45deg, #3f51b5, #cddc39) 1;
        align-self: stretch;
    }    
}
